pandas
numpy
nltk
joblib
matplotlib
seaborn
groq
python-dotenv
requests
pymysql
streamlit
pytest
sqlalchemy
nltk==3.8.1


langchain==0.3.25
langchain-community==0.3.12
langchain-core==0.3.55
langchain-groq==0.1.6