name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install project dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r streamlit/requirements.streamlit.txt
          pip install pytest

      - name: Run smoke tests
        env:
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_PORT: ${{ secrets.DB_PORT }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_NAME: ${{ secrets.DB_NAME }}
          GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}
        run: |
          python tests/test.py


  build-publish:
    needs: test-build
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Streamlit Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: streamlit/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/drug-analysis:latest
            ${{ secrets.DOCKER_USERNAME }}/drug-analysis:${{ github.sha }}
